annotated-types==0.7.0
arabic-reshaper==3.0.1
astunparse==1.6.3
autograd==1.8.0
backports.zstd==1.5.0
beautifulsoup4==4.14.3
blinker==1.9.0
blosc2==4.3.3
brotli==1.2.0
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
click==8.4.1
colorama==0.4.6
contourpy==1.3.2
cryptography==48.0.0
cycler==0.12.1
decorator==5.3.1
elementpath==5.1.1
esprima==4.0.1
et_xmlfile==2.0.0
ffpyplayer==4.5.3
filelock==3.29.1
Flask==3.1.3
fonttools==4.63.0
freetype-py==2.5.1
fsspec==2026.4.0
future==1.0.0
gevent==25.5.1
gitdb==4.0.12
GitPython==3.1.50
greenlet==3.5.1
h5py==3.16.0
idna==3.18
ImageIO==2.37.3
imageio-ffmpeg==0.6.0
inflate64==1.0.4
itsdangerous==2.2.0
jedi==0.20.0
Jinja2==3.1.6
joblib==1.5.3
json-tricks==3.17.3
kiwisolver==1.5.0
lazy-loader==0.5
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mat73==0.65
matplotlib==3.10.9
mdurl==0.1.2
meshpy==2025.1.1
metabci==0.2.0
mne==1.12.1
mne-bids==0.17.0
moviepy==2.2.1
mpmath==1.3.0
msgpack==1.1.2
msgpack-numpy==0.4.8
multivolumefile==0.2.3
ndindex==1.10.1
networkx==3.4.2
numexpr==2.14.1
numpy==2.2.6
opencv-python==4.13.0.92
openpyxl==3.1.5
packaging==26.2
pandas==2.3.3
parso==0.8.7
pillow==11.3.0
platformdirs==4.10.0
pooch==1.9.0
proglog==0.1.12
psutil==7.2.2
psychopy==2026.1.3
psychtoolbox==3.0.19.14
py-cpuinfo==9.0.0
py7zr==1.1.0
pyarrow==24.0.0
pybcj==1.0.7
pycparser==3.0
pycryptodomex==3.23.0
pydantic==2.13.4
pydantic_core==2.46.4
pygame==2.6.1
pyglet==1.4.11
pylsl==1.18.2
pymanopt==2.2.1
pyparallel==0.2.2
pyparsing==3.3.2
pypiwin32==223
pyppmd==1.3.1
PyQt6==6.11.0
PyQt6-Qt6==6.11.1
PyQt6_sip==13.11.1
pyserial==3.5
PySocks==1.7.1
python-bidi==0.6.10
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-gitlab==8.4.0
python-vlc==3.0.11115
pytz==2026.2
pywin32==312
pyWinhook==1.6.2
PyYAML==6.0.3
pyzmq==27.1.0
questplus==2023.1
requests==2.34.2
requests-toolbelt==1.0.0
scikit-learn==1.7.2
scipy==1.14.1
six==1.17.0
skorch==1.4.0
smmap==5.0.3
soundfile==0.13.1
soupsieve==2.8.4
sympy==1.14.0
tables==3.10.1
tabulate==0.10.0
texttable==1.7.0
threadpoolctl==3.6.0
torch==2.12.0
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
ujson==5.12.1
urllib3==2.7.0
websockets==16.0
Werkzeug==3.1.8
wxPython==4.2.5
xarray==2025.6.1
xmlschema==4.3.1
zope.event==5.0
zope.interface==7.2
